<!-- =========================
Header
===========================-->
<header>
  <div
    class="header-one lp:max-w-[1290px]! {=$class} fixed top-5 left-1/2 z-50 mx-auto flex w-full max-w-[350px] -translate-x-1/2 items-center justify-between rounded-2xl bg-white px-2.5 py-2.5 backdrop-blur-[25px] min-[425px]:max-w-[375px] min-[500px]:max-w-[450px] sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] xl:py-0"
    data-opai-animate
    data-instant
    data-direction="up"
    data-offset="100"
  >
    <div>
      <a href="./index.html">
        <span class="sr-only">Home</span>
        <figure class="hidden lg:block lg:max-w-[198px]">
          <img src="./images/shared/main-logo.svg" alt="Nexsas" class="w-full" />
        </figure>
        <figure class="block max-w-[44px] lg:hidden">
          <img src="./images/shared/logo.svg" alt="Nexsas" class="block w-full" />
          <img src="./images/shared/logo-dark.svg" alt="Nexsas" class="hidden w-full" />
        </figure>
      </a>
    </div>
    <nav class="hidden items-center xl:flex">
      <ul class="flex items-center">
        <li class="nav-item relative cursor-pointer py-2.5" data-menu="company-mega-menu-v2">
          <a
            href="#"
            class="hover:border-stroke-2/60 text-tagline-2 font-sora text-background-13/60 hover:text-background-13 flex items-center gap-1 rounded-full border border-transparent px-4 py-2 font-normal transition-all duration-200"
          >
            <span>Company</span>
            <span class="nav-arrow block origin-center translate-y-px transition-all duration-300">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m19.5 8.25-7.5 7.5-7.5-7.5"
                />
              </svg>
            </span>
          </a>
          <Component src="src/components/shared/navbar/company-menu.htm" />
        </li>
        <li class="nav-item relative cursor-pointer py-2.5" data-menu="resources-dropdown-menu-v2">
          <a
            href="#"
            class="hover:border-stroke-2/60 font-sora text-tagline-2 text-background-13/60 hover:text-background-13 flex items-center gap-1 rounded-full border border-transparent px-4 py-2 font-normal transition-all duration-200"
          >
            <span>Inner pages</span>
            <span class="nav-arrow block origin-center translate-y-px transition-all duration-300">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m19.5 8.25-7.5 7.5-7.5-7.5"
                />
              </svg>
            </span>
          </a>
          <Component src="src/components/shared/navbar/resources-menu.htm" />
        </li>
        <li class="nav-item relative cursor-pointer py-2.5" data-menu="product-mega-menu">
          <a
            href="#"
            class="hover:border-stroke-2/60 font-sora text-tagline-2 text-background-13/60 hover:text-background-13 flex items-center gap-1 rounded-full border border-transparent px-4 py-2 font-normal transition-all duration-200"
          >
            <span>Plans &amp; Support</span>
            <span class="nav-arrow block origin-center translate-y-px transition-all duration-300">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m19.5 8.25-7.5 7.5-7.5-7.5"
                />
              </svg>
            </span>
          </a>
          <Component src="src/components/shared/navbar/plan-and-support-menu.htm" />
        </li>
        <li class="nav-item relative cursor-pointer py-2.5">
          <a
            href="./pricing.html"
            class="hover:border-stroke-2/60 font-sora text-tagline-2 text-background-13/60 hover:text-background-13 flex items-center gap-1 rounded-full border border-transparent px-4 py-2 font-normal transition-all duration-200"
          >
            <span>Pricing</span>
          </a>
        </li>
      </ul>
    </nav>

    <div class="hidden items-center justify-center xl:flex">
      <Component src="src/components/shared/navbar/nav-button.htm" />
    </div>
    <div class="block xl:hidden">
      <button
        class="nav-hamburger bg-background-4 flex size-12 cursor-pointer flex-col items-center justify-center gap-[5px] rounded-full"
      >
        <span class="sr-only">Menu</span>
        <span class="block h-0.5 w-6 bg-white/80"></span>
        <span class="block h-0.5 w-6 bg-white/80"></span>
        <span class="block h-0.5 w-6 bg-white/80"></span>
      </button>
    </div>
  </div>
  <Component src="src/components/shared/mobile-menu.htm" />
</header>
